{% load static %}

<!-- Footer Start -->
	<div class="container-fluid bg-light text-secondary mt-5 pt-5">
			<div class="row px-xl-5 pt-5">
					<div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
							<h5 class="text-secondary text-uppercase mb-4">Get In Touch</h5>
							<p class="mb-4">For any business collabaration or any other query you can reach us on our office.</p>
							<p class="mb-2"><i class="fa fa-map-marker-alt text-warning mr-3"></i>D-190 Sector K Hazratganj ,Lucknow</p>
							<p class="mb-2"><i class="fa fa-envelope text-warning mr-3"></i>rudranarayantiwari@gmail.com</p>
							<p class="mb-0"><i class="fa fa-phone-alt text-warning mr-3"></i>+91 8765635262</p>
					</div>
					<div class="col-lg-8 col-md-12">
							<div class="row">
									<div class="col-md-4 mb-5">
											<h5 class="text-secondary text-uppercase mb-4">Quick Links</h5>
											<div class="d-flex flex-column justify-content-start">
													<a class="text-secondary mb-2" href="{% url 'Home' %}"><i class="fa fa-angle-right mr-2"></i>Home</a>
													<a class="text-secondary mb-2" href="{% url 'Store' %}"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
													<a class="text-secondary mb-2" href="{% url 'Cart' %}"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
													<a class="text-secondary" href="{% url 'Contact' %}"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
											</div>
									</div>
									<div class="col-md-4 mb-5">
											<h5 class="text-secondary text-uppercase mb-4">My Account</h5>
											{% if request.user.is_authenticated %}
											<div class="d-flex flex-column justify-content-start">
													<a class="text-secondary mb-2" href="{% url 'Logout' %}"><i class="fa fa-angle-right mr-2"></i>Sign out</a>
													<a class="text-secondary mb-2" href="{% url 'Dashboard' %}"><i class="fa fa-angle-right mr-2"></i>Dashboard</a>
													<a class="text-secondary mb-2" href="{% url 'MyOrder' %}"><i class="fa fa-angle-right mr-2"></i>MyOrder</a>
                       <a class="text-secondary mb-2" href="{% url 'EditProfile' %}"><i class="fa fa-angle-right mr-2"></i>Edit Profile</a>
											 <a class="text-secondary mb-2" href="{% url 'ChangePass' %}"><i class="fa fa-angle-right mr-2"></i>Change Profile Password</a>

 											</div>

											{% else %}
											<div class="d-flex flex-column justify-content-start">
													<a class="text-secondary mb-2" href="{% url 'Login' %}"><i class="fa fa-angle-right mr-2"></i>Sign in</a>
													<a class="text-secondary mb-2" href="{% url 'Register' %}"><i class="fa fa-angle-right mr-2"></i>Register</a>
													<a class="text-secondary mb-2" href="{% url 'ForgotPassword' %}"><i class="fa fa-angle-right mr-2"></i>ForgotPassword</a>
											</div>
											{% endif %}
									</div>
									<div class="col-md-4 mb-5">
											<h5 class="text-secondary text-uppercase mb-4">Follow Us</h5>
											<p>Our official social media accounts</p>
											<!-- <form action="">
													<div class="input-group">
															<input type="text" class="form-control" placeholder="Your Email Address">
															<div class="input-group-append">
																	<button class="btn btn-warning">Sign Up</button>
															</div>
													</div>
											</form> -->
											<h6 class="text-secondary text-uppercase mt-4 mb-3"></h6>
											<div class="d-flex">
													<a class="btn btn-warning btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
													<a class="btn btn-warning btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
													<a class="btn btn-warning btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
													<a class="btn btn-warning btn-square" href="#"><i class="fab fa-instagram"></i></a>
											</div>
									</div>
							</div>
					</div>
			</div>
			<div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
					<div class="col-md-6 px-xl-0">
							<p class="mb-md-0 text-center text-md-left text-secondary">
									2023&copy; <a class="text-warning" href="#">Shopium</a>. All Rights Reserved. Designed
									by
									<a class="text-warning" href="https://htmlcodex.com">Rudra Narayan Tiwari</a>
							</p>
					</div>
					<div class="col-md-6 px-xl-0 text-center text-md-right">
							<img class="img-fluid" src="img/payments.png" alt="">
					</div>
			</div>
	</div>
	<!-- Footer End -->
