{% load static %}
<style>
  @media (min-width: 376px) {
    #hiddelaptopnitems {
      display: none;
    }
  }  
</style>

<header>
<section class="header-main border-bottom">
  <div class="container">
<div class="row align-items-center">
  <div class="col-lg-2 col-md-3 col-6">
    <a href="{% url 'Home' %}" class="brand-wrap">
      <img class="logo" src="{% static 'myapp/images/Untitled.png' %}">
    </a> <!-- brand-wrap.// -->
  </div>

  <div id="hiddelaptopnitems" class="kjahsdkjashdkjh" >
    <div class="category-wrap dropdown d-inline-block float-right">
      <button type="button" class="btn btn-warning dropdown-toggle btn-sm" data-toggle="dropdown">
        <i class="fa fa-bars"></i> All category
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'Store' %}">All Products</a>
        {% for l in lcount %}
        <a class="dropdown-item" href="{{ l.get_url }}">{{l.category_name}}</a>
        {% endfor %}
      </div>
    </div> 
  </div>


  
 <div class="col-lg col-sm col-md col-6 flex-grow-0" id="bigbutton">
    <div class="category-wrap dropdown d-inline-block float-right">
      <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-bars"></i> All category
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'Store' %}">All Products</a>
        {% for l in lcount %}
        <a class="dropdown-item" href="{{ l.get_url }}">{{l.category_name}}</a>
        {% endfor %}
      </div>
    </div> 
  </div>


<a href="{% url 'Store' %}" id="hiddelaptopnitems" class="smallstoreb">Store</a>
<a href="{% url 'Store' %}" id="bigstore" class="btn btn-outline-warning">Store</a>


  <form action="{% url 'Search' %}" id="hiddelaptopnitems" class="search" method="GET">
    <div class="searcbarr">
      <input required type="text" class="formsscontrol" style="width:60%;" placeholder="Search" name="keyword">
      <button class="btn btn-warning" type="submit"><i class="fa fa-search"></i></button>
      <a href="{% url 'Cart' %}" class="widget-header pl-3 ml-3">
        <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
        <span class="badge badge-pill badge-danger notify">{{cart_count}}</span>
      </a>
    </div>
  </form>


<div id="searchbuttonn" class="col-lg  col-md-6 col-sm-12 col">
  <form action="{% url 'Search' %}" class="search" method="GET">
    <div class="input-group w-100">
        <input required type="text" class="form-control" style="width:60%;" placeholder="Search" name="keyword">

        <div class="input-group-append">
          <button class="btn btn-warning" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
  </form> <!-- search-wrap .end// -->
</div> <!-- col.// -->

  <div id="guestname" class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
        <div class="d-flex justify-content-end mb-3 mb-lg-0">

         {% if request.user.id is not None %}
          <div class="widget-header">
            <small class="title text-muted">Welcome {{user.first_name}}!</small>
            <div>
              <a class="asdkgask" href="{% url 'Dashboard' %}">Dashboard</a> <span class="dark-transp"> | </span>
              <a class="asdkgask" href="{% url 'Logout' %}"> Logout</a>
            </div>
          </div>
         {% else %}
         <div class="widget-header">
          <small class="title text-muted">Welcome guest!</small>
          <div>
            <a class="asdkgask" href="{% url 'Login' %}">Sign in</a> <span class="dark-transp"> | </span>
            <a class="asdkgask" href="{% url 'Register' %}"> Register</a>
          </div>
        </div>
         {% endif %}

          <a href="{% url 'Cart' %}" class="widget-header pl-3 ml-3">
            <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
            <span class="badge badge-pill badge-danger notify">{{cart_count}}</span>
          </a>
        </div> <!-- widgets-wrap.// -->
      </div> <!-- col.// -->
</div> <!-- row.// -->
  </div> <!-- container.// -->
</section> <!-- header-main .// -->
</header> <!-- section-header.// -->
